/* Box Model Hack */
* {
  box-sizing: border-box;
}

:root {
  /*colors*/
  --primary-color: #fa515b;
  --gray--light: #dadada;
  --gray--dark: #404040;
  --white: #fff;
  --black: #1f1e1e;
  --colorize: linear-gradient(
    90deg,
    rgba(150, 48, 30, 1) 0%,
    rgba(199, 201, 88, 1) 10%,
    rgba(28, 147, 46, 1) 20%,
    rgba(74, 165, 168, 1) 30%,
    rgba(89, 90, 165, 1) 40%,
    rgba(84, 16, 67, 1) 50%,
    rgba(28, 58, 63, 1) 60%,
    rgba(82, 175, 183, 1) 70%,
    rgba(78, 170, 76, 1) 80%,
    rgba(150, 48, 30, 1) 90%,
    rgba(199, 201, 88, 1) 100%
  );
}

/*animations*/
@keyframes background {
  0% {
    background-position: 0 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
  font-size: 62.5%;
  background: var(--primary-color);
}

h1 {
  font-family: "Space Mono", monospace;
  color: #fff;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 5.2rem;
  text-transform: uppercase;
  padding: 2rem;
}

main {
  height: 100vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/******************************************
/* LAYOUT
/*******************************************/

.container {
  flex-basis: 100rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  gap: 0px 0px;
  grid-template-areas:
    "title title title title title"
    "values values values button button";
}

#title {
  background: var(--black);
  grid-area: title;
}

#values {
  font-family: "Space Mono", monospace;
  background: var(--white);
  color: var(--gray--dark);
  grid-area: values;
  flex-direction: column;
  row-gap: 4rem;
  padding: 10rem;
}

#values div {
  align-self: flex-start;
}

#button {
  background: var(--gray--light);
  grid-area: button;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.value--title {
  font-weight: 700;
  font-size: 3.6rem;
  text-transform: uppercase;
}

.value {
  font-size: 2.4rem;
  padding: 0.4rem;
}

.notification {
  position: fixed;
  margin: 12px;
  padding: 5px;
  z-index: 1;
}

div img {
  height: 2rem;
  transition: all 0.3s ease;
}

/* show and hide copy icon */
/* .hide {
  opacity: 0;
} */

/* span.value:hover + .hide {
  opacity: 100%;
} */

.value:hover {
  cursor: pointer;
}

.btn--primary {
  font-family: "Space Mono", monospace;
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
  padding: 1.2rem 2.5rem;
  color: var(--white);
  background: var(--primary-color);
  border: none;
  border-radius: 0.2rem;
  transition: background 0.3s ease;
}

#title h1:hover {
  animation: background 4s linear infinite;
  background: var(--colorize);
  background-size: 1000% 100%;
}

.btn--primary:hover {
  cursor: pointer;
  animation: background 4s linear infinite;
  background: var(--colorize);
  background-size: 1000% 100%;
}

footer {
  font-family: "Space Mono", monospace;
  color: white;
  font-size: 1.2rem;
  margin-top: -3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: none;
  font-weight: 700;
  color: var(--white);
}

footer a:hover {
  cursor: pointer;
  animation: background 4s linear infinite;
  background: var(--colorize);
  background-size: 1000% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/******************************************
/* Responsive
/*******************************************/

@media screen and (max-width: 1000px) {
  html {
    font-size: 55%;
  }
  .container {
    /* flex-basis: 100rem; */
    display: block;
  }

  #button {
    height: 12rem;
  }
}

@media screen and (max-width: 500px) {
  #values {
    padding: 10rem 5rem;
  }
}

@media screen and (max-width: 500px) {
  #values {
    padding: 10rem 2rem;
  }
}
